<div id="<%= dom_id patient %>">
  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= patient.sex %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= patient.dob %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= patient.email %>
  </p>

</div>
